# Django Settings
SECRET_KEY=replace-with-a-random-django-secret-key
DEBUG=True
ALLOWED_HOSTS=*

#jwt authentication credenetials
JWT_ACCESS_TOKEN_LIFETIME=15 #(minutes)
JWT_REFRESH_TOKEN_LIFETIME=1 #(days)
JWT_AUTH_HEADER_TYPES = Bearer

# Database
DB_ENGINE=django.db.backends.postgresql
DB_NAME=your-database-name
DB_USER=your-database-user
DB_PASSWORD=your-password
DB_HOST=your-database-host
DB_PORT=your-database-port

#Object Storage
SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_CAR_BUCKET=your-car-bucket
SUPABASE_PROFILE_BUCKET=your-profile-bucket

# Payment Gateways 
RAZORPAY_KEY_ID=your-razorpay-key-id
RAZORPAY_KEY_SECRET=your-razorpay-key-secret
STRIPE_PUBLISHABLE_KEY=your-stripe-publishable-key
STRIPE_SECRET_KEY=your-stripe-secret-key
